body{
	background: white;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #262626;
}


img{
				padding-right: 10px;
				max-width: 70vw;
				
}
.button{
				position: relative;
				display: inline-block;
				padding: 15px 30px ;
				align-content: center;
				left: 10px;
				color:#2196f3
				text-decoration:none;
				text-decoration: none;			
				overflow:hidden;
				transition: 0.2s;
				background:#ff5f2b;
				color:white;
				border-radius: 10px;
}
.button:hover{
				box-shadow: 0 0 10px #ec0030, 0 0 40px #ec0030;
				background:#ff5e00
}
.logo{
				height:15vh;
				max-height: 100%;
				display:block;
				align-items: middle;
				line-height: 3vh;
				
}
/*Эффекты паралакса*/
section{
	width: 100%;
  height: 80vh;
  box-sizing: border-box;
}
section.sec1{
	background: url("../images/image2.jpg") no-repeat center / cover;
	background-attachment: fixed;
}
section.sec2{
	background: url("../images/image1.jpg") no-repeat center / cover;
	background-attachment: fixed;
}
section.sec3{
	background: url("../images/image3.jpg") no-repeat center / cover;
	background-attachment: fixed;
}
section.sec4{
	background: url("../images/image3.jpg") no-repeat center / cover;
	background-attachment: fixed;
}
.prlang{
				max-height:80px;
				padding-left:15px;
				
}
.sec-text {/*Стиль текста*/
  padding: 4% 8%;
  height: auto;
}
.sec-text_title {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
.sec-text_dsc {
  font-size: 1.3em;
	
}
.sec-text_dsc2{
  font-size: 1.1em;
	
}
/*Эффекты для меню*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
	position: auto;
  list-style: none;
  margin: 0px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}

.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}

.menu-main a, .menu-main a:visited {color: #9d999d;}

.menu-main a.current, .menu-main a:hover{color: #ff0033;}

.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #ff0033 ;
  transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;} 
 
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
} 
